<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.me.finalproject">

    <application>
        <activity android:name=".storelist">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".storelist1"
            android:label="@string/title_activity_storelist1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>